{% extends "base.html" %}

{% block title %}Booking - Transit Tower{% endblock %}

{% block pageTitle %}
Booking
{% endblock %}

{% block content %}
<div class="content-area">
    <h1 class="centered-text">Booking with Us</h1>

    <!-- Welcoming Intro -->
    <p>As for now you may book with using the options mentioned below. In the future our website will provide the
        features
        of checking room availability and proceeding to book accordingly using our website.</p>

    <!-- Background -->
    <div class="responsive-container">
        <div class="content-column">
            <h4>Direct contact: Call/Email</h4>
            <p>You may book with us by contacting us directly by using the WhatsApp call button at the top or email us
                to
                <a href="mailto:reservations@transit-tower.com"> Reservations</a></p>
        </div>

        <div class="content-column">
            <h4>Booking.com website</h4>
            <p>You may book with using Booking.com. You will receive confirmations ad relevant documents from us via
                email replies to your email. Please follow the link below to make your booking using Booking.com</p>
            <br>

            <a href="https://www.booking.com/hotel/mv/transit-tower-addu-city.html?aid=304142&label=gen173nr-10CAEoggI46AdIM1gEaJ4BiAEBmAEzuAEXyAEM2AED6AEB-AEBiAIBqAIBuAKi0_DEBsACAdICJDNiY2IxZmRlLTZhNGItNGI2MC05YWQ4LTU2NGY0M2ZlZDI0OdgCAeACAQ&sid=89d7b681d2ffbb8f7f7f5965b253c623&dest_id=13905791&dest_type=hotel&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1755064827&srpvid=e9822a27d2ba0310&type=total&ucfs=1&"
               target="_blank"
               rel="noopener noreferrer">Take me to booking.com</a>
        </div>
    </div>
</div>
{% endblock %}
