{% extends "base.html" %}

{% block title %}Booking - Transit Tower{% endblock %}

{% block pageTitle %}
Booking
{% endblock %}

{% block content %}
<div class="content-area">
    <h1 style="text-align: center;">Booking with Us</h1>

    <!-- Welcoming Intro -->
    <p>As for now you may book with using the options mentioned below. In the future our website will provide the
        features
        of checking room availability and proceeding to book accordingly using our website.</p>

    <!-- Background -->
    <div class="responsive-container">
        <div class="content-column">
            <h4>Direct contact: Call/Email</h4>
            <p>You may book with us by contacting us directly by using the call button at the top or send us an email to
                <a href="mailto:reservations@transit-tower.com"> Reservations</a></p>
        </div>

        <div class="content-column">
            <h4>Booking.com website</h4>
            <p>You may book with using Booking.com. You will receive confirmations ad relevant documents from us via
                email replies to your email. Please follow the link below to make your booking using Booking.com.</p>

            <a href="https://www.booking.com/searchresults.html?ss=Addu+Atoll%2C+Maldives&ssne=Mal%C3%A9&ssne_untouched=Mal%C3%A9&efdco=1&label=gen173nr-1FCAEoggI46AdIM1gEaJ4BiAEBmAExuAEXyAEM2AEB6AEB-AECiAIBqAIDuALs4tS6BsACAdICJDRhOGNhMmM4LWM2MzktNGFjMi1hOTRiLTE4Y2I0MDA5MThlYtgCBeACAQ&sid=37b1f3a6c5d8c63433786b9a1db8e84a&aid=304142&lang=en-us&sb=1&src_elem=sb&src=searchresults&dest_id=7418&dest_type=region&ac_position=0&ac_click_type=b&ac_langcode=en&ac_suggestion_list_length=5&search_selected=true&search_pageview_id=5240281af8c702b1&ac_meta=GhA1MjQwMjgxYWY4YzcwMmIxIAAoATICZW46BWFkZHUgQABKAFAA&group_adults=2&no_rooms=1&group_children=0">
                Take me to booking.com</a>
        </div>
    </div>
</div>
{% endblock %}
