{% extends "base.html" %}

{% block title %}Contact Us - Transit Tower{% endblock %}

{% block pageTitle %}
    Contact Us
{% endblock %}

{% block content %}
<div class="content-area">
    <div class="responsive-container">
        <div class="content-column">
            <img class="content-image"
                 src="{{ url_for('static', filename='images/contact/transit_tower_reception.jpg') }}"
                 alt="Transit Tower">
        </div>

        <div class="content-column">
            <div class="ui-row" style="margin-bottom: var(--m-value);">
                <p><strong>Address: </strong></p>
                <p>Dheydharuge,<br>Nooraanee Magu,<br>Link Road,<br>Addu City 19050</p>
            </div>
            <div class="ui-row" style="margin-bottom: var(--m-value);">
                <p><strong>Phone: </strong></p>
                <p>+960-688-1500</p>
            </div>
            <div class="ui-row" style="margin-bottom: var(--m-value);">
                <p><strong>Mobile: </strong></p>
                <p>+960-749-1500</p>
            </div>
            <div class="ui-row" style="margin-bottom: var(--m-value);">
                <p><strong>Reservations: </strong></p>
                <p>reservations@transit-tower.com</p>
            </div>
            <div class="ui-row" style="margin-bottom: var(--m-value);">
                <p><strong>Queries: </strong></p>
                <p>info@transit-tower.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
