{% extends "base.html" %}

{% block title %}Home - Transit Tower{% endblock %}

{% block pageTitle %}
Transit Tower
{% endblock %}

{% block content %}
<style>
    /* Slider container: Fullscreen width and height */
    .slider-container {
        position: relative;
        width: 100%;
        height: 100vh; /* Full viewport height */
        overflow: hidden;
    }

    .slider-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the entire area without distortion */
    }

    /* Individual Slide */
    .slide {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    /* Slider Dots */
    .slider-dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }

    .dot {
        height: 15px;
        width: 15px;
        margin: 0 5px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        cursor: pointer;
    }

    .active {
        background-color: white;
    }

    /* Fade effect for slides */
    .fade {
        animation: fade 1.5s;
    }

    @keyframes fade {
        from { opacity: 0.4 }
        to { opacity: 1 }
    }

    .intro-panel {
        position: absolute;
        bottom: 64px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: var(--m-value);
        padding: 0 32px 32px;
        text-align: center;
    }

    .book-btn {
        border-radius: var(--m-value);
        /* Hard small shadow */
        box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.6);
        animation: grow-shrink 2s infinite;
        font-weight: bold;
    }

    /* Keyframes for the reading animation */
    @keyframes word-grow {
        0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Slightly grow */
        }
    }

    /* Styling for each word */
    h2.word-animation {
        display: inline-block;
        animation: word-grow 1.5s infinite;
    }

    /* Media query for narrow screens */
    @media screen and (max-width: 768px) {
        .intro-panel {
            padding: 0 16px 16px;
        }
    }
</style>

<!-- Image Slider -->
<div class="slider-container">
    <div class="slide fade">
        <img src="{{ url_for('static', filename='images/homepage/home_1.jpg') }}" alt="Slide 1">
    </div>
    <div class="slide fade">
        <img src="{{ url_for('static', filename='images/homepage/home_2.jpg') }}" alt="Slide 2">
    </div>
    <div class="slide fade">
        <img src="{{ url_for('static', filename='images/homepage/home_3.jpg') }}" alt="Slide 3">
    </div>
    <div class="slide fade">
        <img src="{{ url_for('static', filename='images/homepage/home_4.jpg') }}" alt="Slide 4">
    </div>
        <div class="slide fade">
        <img src="{{ url_for('static', filename='images/homepage/home_5.jpg') }}" alt="Slide 5">
    </div>
        <div class="slide fade">
        <img src="{{ url_for('static', filename='images/homepage/home_6.jpg') }}" alt="Slide 6">
    </div>
        <div class="slide fade">
        <img src="{{ url_for('static', filename='images/homepage/home_7.jpg') }}" alt="Slide 7">
    </div>
</div>

<!-- Intro that displays above the Image Slider -->
<div class="intro-panel">
    <h1 style="color: white;">Your home, away from home.</h1>
    <h2 style="color: white;">Your cozy stay.</h2>

    <!-- Book Now button -->
    <button class="book-btn" onclick="window.open('https://www.booking.com',
        '_blank')">Book Now
    </button>
</div>

<!-- Dots for the slider -->
<div class="slider-dots">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
</div>

<!-- Home page content -->
<div class="responsive-container">
    <div class="content-column">
        <p style="text-align: center;">Welcome to Transit Tower</p>

        <h2 class="word-animation" style="text-align: center;">
            Your Home, Away From Home
        </h2>


        <p>Our guesthouse is a haven of tranquility nestled in the heart of the Maldives. With eight thoughtfully
            designed rooms, each offering a unique blend of comfort and style, we provide an intimate and personalized
            experience for every guest. </p>
        <p>Whether you're seeking a romantic getaway or a solo adventure, our cozy retreat offers a peaceful escape from
            the hustle and bustle of everyday life. Enjoy the soothing ambiance of our guesthouse, where every detail is
            designed to ensure a truly relaxing and memorable stay.</p>
    </div>
    <div class="content-column">
        <img style="border-radius: 16px;"
             src="{{ url_for('static', filename='images/homepage/tt_exterior.jpg') }}"
             alt="Transit Tower"
             width="100%">
        <p>Transit Tower is more than just a place to rest your head; it's a vibrant destination that caters to
            travelers of all kinds. Whether you're exploring the Maldives as a couple, enjoying a family vacation, or
            embarking on a solo adventure, Transit Tower offers something for everyone.</p>
        <p>Our unique blend of modern amenities, comfortable accommodations, and convenient location make us the ideal
            choice for those seeking a memorable and enjoyable stay.</p>
    </div>
    <div class="content-column">
        <h3 style="text-align: center;">Our Rooms</h3>
        <button style="max-width: 200px; margin-bottom: 32px;
        margin: 0 auto; margin-bottom: 32px; animation: grow-shrink 2s infinite;"
                onclick="window.location.href='/rooms'">
            Explore For More
        </button>
        <img style="border-radius: 16px;" src="{{ url_for('static', filename='images/rooms/rooms_5.jpg') }}"
             alt="Double Deluxe Room"
             width="100%">
        <h4 style="text-align: center;">Options: Standard/Deluxe</h4>
        <p>Perfect for couples or solo travellers seeking comfort and style. Each room features spacious
            layout with modern interior, clean classy look and all essential amenities.</p>
    </div>
</div>

<!-- Automatic transitioning of the slider images -->
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        const slides = document.getElementsByClassName("slide");
        const dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 5 seconds
    }

    function currentSlide(n) {
        slideIndex = n;
        showSlides();
    }
</script>

{% endblock %}
